# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/

# IDE files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Flutter/Dart related
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.packages
doc/api/
ios/Flutter/.last_build_id

# Android
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties
android/app/*.keystore
android/app/*.jks
android/app/*.gpg
android/app/google-services.json

# iOS
ios/Pods/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/DerivedData/
ios/Runner/GoogleService-Info.plist

# macOS
macos/Pods/
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/
windows/CMakeCache.txt
windows/CMakeFiles/

# Linux
linux/flutter/ephemeral/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
